<form action='/' method='post'>
	<input
		type='text'
		class='form-control my-2'
		placeholder='Ingrese la URL'
		name='originURL'
	/>
	<button class='btn btn-primary w-100 mb-2'>Agregar URL</button>
</form>