<h1>Agrege sus URLS</h1>
{{> Form}}
{{#each urls}}
	<article class='card mb-2'>
		<div class='card-body'>
			<p>{{this.origin}}</p>
			<p>{{this.shortURL}}</p>
			<a href='#' class='btn btn-danger'>Eliminar</a>
			<a href='#' class='btn btn-warning'>Editar</a>
			<a href='#' class='btn btn-info'>Copiar</a>
		</div>
	</article>
{{/each}}